.menu {
  position: sticky;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.menu_wrapper { 
  position: fixed; 
  top: 0;
  right: 0; 
  width: 25%; 
  height: 100%;
  z-index: 9999; 
}
.menu a {
  display: block;
  padding: 8px 16px;
  margin: 16px;
  color: #333;
  text-decoration: none;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-size: medium;
  text-align: left;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.menu_icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
}

.menu_icon img {
  width: 100%;
  height: 100%;
}
.menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.menu_header h2 {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
}

.menu_header button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.menu_header button:hover {
  border-radius: 90px;
}
.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đục */
  z-index: 100; /* Đảm bảo menu hiển thị trên cùng */
}
.menu hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}