.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  flex-direction: column;
}
.form_content_slider {
  display: grid;
  grid-template-columns: 1fr; /* Mỗi hàng chỉ có một cột */
  grid-gap: 10px; /* Khoảng cách giữa các hàng */
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f8f9;
  border-radius: 10px;
  max-width: 390px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  padding: 10px;
  width: 100%;
  margin: 30px 0 30px 38px;
  border: 0.3px solid #b2c1e5;
  box-shadow: 0 4px 16px rgba(136, 165, 191, 0.48),
    0 8px 24px hsla(0, 0%, 100%, 0.8), 0 16px 56px hsla(0, 0%, 100%, 0.8);
    
}
.content_slider_user_image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 20px;
}
.content_slider_user_image img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 3px solid #ef2416;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12),
    0 2px 16px 0 rgba(14, 30, 37, 0.32);
  -o-object-fit: contain;
  object-fit: contain;
}

.content_slider_name h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8rem;
  min-height: 3.6rem;
  color: #c8102e;
  font-family: "Noto Serif JP", serif;
}
.content_expert_eye {
  margin: 30px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.content_expert_eye button {
  text-transform: capitalize;
  color: #c8102e;
  margin: 0 3px;
  font-size: 14px;
  font-weight: 700;
  border: 0.3px solid #ec3a3a;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  line-height: 2;
}
.content_expert_eye button:hover {
  color: #3aabec;
  border: 0.3px solid #3aabec;
}
.content_expert_show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
